body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#playarea {
  width: 500px;
  height: 500px;
  background-color: black;
}

#circle {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 100%;
  border: none;
  transform: translate(450px, 450px);
}

.dashboard {
  width: 75px;
  height: 25px;
  margin-top: 10px;
}