---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>wargen</title>
    </head>
    <body class="bg-black text-white">
        <div>
            <h1>Wargen Guittap</h1>
        </div>
    </body>
</html>
